<!doctype html>

<html>
  <head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
mepage This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
        .mySlides {display:none}
        .w3-tag, .fa {cursor:pointer}
        .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
        </style>


    <title> Delete Recipe </title>

 <div class="w3-top">
          <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
                         <a href="./" class="w3-button w3-block">HOME</a>
                    </div>

  <h1> You can delete a recipe from the database</h1>


  </head>
  <h1> Delete Recipe </h1>
  <body>

<div class="w3-flat-turquoise">

<form method="POST" action="/deletedrecipe">
  <input id="name" type="text" name="name" value="Enter the name to delete" />
  <input type="submit" value="DELETE" />
</form>

</form>

  </body>

</div>


</html>
	
