<!doctype html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
        html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
mepage This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
        .mySlides {display:none}
        .w3-tag, .fa {cursor:pointer}
        .w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
        </style>





          <head>
            <title>This is the title of the webpage!</title>
          </head>
          <body>

        <div class="w3-centre">
          <div class="w3-row w3-large w3-light-grey">
            <div class="w3-col s3">
         <a href="/login" class="w3-button w3-block">Login</a>
            </div>
            <div class="w3-col s3">
              <a href="/register" class="w3-button w3-block">Register</a>
            </div>
            <div class="w3-col s3">
              <a href="/addrecipe" class="w3-button w3-block">AddRecipe</a>
            </div>
            <div class="w3-col s3">
              <a href="/list" class="w3-button w3-block">List</a>
            </div>
            <div class="w3-col s3">
              <a href="/search" class="w3-button w3-block">Search</a>
            </div>
             <div class="w3-col s3">
              <a href="/logout" class="w3-button w3-block">Logout</a>
            </div>
             <div class="w3-col s3">
              <a href="/deleterecipe" class="w3-button w3-block">DeleteRecipe</a>
            </div>
	     <div class="w3-col s3">
              <a href="/updaterecipe" class="w3-button w3-block">UpdateRecipe</a>
            </div>
	     <div class="w3-col s3">
              <a href="/api" class="w3-button w3-block">API</a>
            </div>
          </div>
        </div>

<div class="w3-centre">
<div class="w3-panel w3-round-xlarge">
    <h1><b>WELCOME TO MY RECIPE COLLECTION!</b></h1>
    <p>Please register if you would like to add your books or check what we have got in our catalogue.</p>
  </div>
</div>

 </body>
</html>

