<!doctype html>
<html>
  <head>
    <title>Update Recipe</title>
  </head>
  <h1>Find your recipe by entering a name</h1>
  <body>

<form action="/updatedrecipe" method="POST">

    <input id="updatename-box" type="text" name="name" value="Enter Name">
    <input id="updatecontent-box" type="text" name="content" value="Change Content">
    <input type="submit" value="UPDATE">


</form>

 <div class="w3-top">
 <div class="w3-row w3-large w3-light-grey">
 <div class="w3-col s3">
 <a href="./" class="w3-button w3-block">Home</a>
 </div>
</body>

</html>

